<div class="fruits_list">
    <div class="imojy">{%IMAGE%}</div>
    <div class="fruitname card__detail-box"><div class="stright">{%FRUITNAME%} </div></div>
    <div class="detail_box">
        <div class="card__detail-box {%ORGANIC%}"><div class="stright organic">Organic!</div></div>
        <div class="amount card__detail-box"><div class="stright">{%AMOUNT%} per 📦</div></div>
        <div class="price card__detail-box"><div class="stright">{%PRICE%} Birr</div></div>
    </div>
    <div class="detail"><a href="./product?id={%ID%}" class="stright">Detail 👉</a></div>
</div>

